.container {
  width: 100%;
  height: 170px;
  background-image: url('../../../assets/list_banner_bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .container {
    background-image: url('../../../assets/list_banner_bg_2x.jpg');
  }
}

.title {
  font-size: 60px;
  color: #fff;
  font-weight: 700;
  text-align: center;
}