.container {
  width: 50%;
  margin: 0 auto;
  position: relative;
  padding-top: 60px;
  padding-bottom: 90px;
}

.none {
  color: #666 !important;
  font-weight: 200;
}

.title {
  font-size: 20px;
}

.mtl {
  margin-top: 26px;
}

.mts {
  margin-top: 15px;
}

.mbx {
  margin-bottom: 8px;
}