html,
body,
:global(#root) {
  height: 100%;
  background-color: #fff;
}

html,
body {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

pre {
  font-family: PingFangSC, MicrosoftYahei;
}

a:hover {
  color: #b2804d;
}