.container {
  padding-bottom: 0;
}

.item {
  display: inline-block;
  position: relative;
  margin-top: 40px;
  vertical-align: top;
  border: 1px solid #f4f4f4;
  width: 100%;
  border-radius: 3px;
}

.item:first-child {
  margin-top: 10px;
}

.team-item {
  display: inline-block;
  width: 100%;
  position: relative;
  vertical-align: top;
  margin-top: 12px;
}

.item-avatar {
  width: 120px;
  height: 113px;
  border-radius: 3px;
  float: left;
  background-size: cover;
  background-repeat: no-repeat;
}

.team-item-avatar {
  width: 100%;
  height: 330px;
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.team-item:last-child {
  .team-item-avatar {
    background-position: 94%;
  }
}

.item-text {
  margin-left: 130px;
  text-align: justify;
  padding-right: .4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 113px;
}

.item-name {
  display: flex;
  justify-content: left;
  align-items: center;
  align-items: start;
  flex-direction: column;
}

.team-item-name {
  display: flex;
  justify-content: left;
  align-items: center;
  justify-content: center;
  margin: 12px 0 4px;
}

.item-name--text {
  font-size: 18px;
  color: #333;
  white-space: nowrap;
}

.item-title {
  font-size: 14px;
  color: #b2804d;
}

.item-desc {
  font-size: 14px;
  line-height: 21px;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  white-space: pre-wrap;
  margin-bottom: 0;
}

.team-desc {
  font-size: 13px;
  line-height: 21px;
  color: #666;
  white-space: pre-wrap;
  text-align: justify;
  letter-spacing: .1em;
}

.team-list {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #f1f1f1;
}